@import 'assets/MainStyle.scss';

.loader {
  position: fixed;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.75) url('../../assets/images/loader.gif') no-repeat center center;
  overflow: show;
}

.progress__loader {
  border: 16px solid #F3F3F3;
  border-radius: 50%;
  margin: auto;
  margin-top: 0.5rem;
  border-top: 16px solid #F34579;
  border-right: 16px solid #2D6686;
  border-bottom: 16px solid #F34579;
  border-left: 16px solid #2D6686;
  width: 45px;
  height: 45px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
 
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
 
  100% { -webkit-transform: rotate(360deg); }
}
 
@keyframes spin {
  0% { transform: rotate(0deg); }
 
  100% { transform: rotate(360deg); }
}
