@import 'assets/MainStyle.scss';
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import "sass-rem";

.articlesCanvas {
  width: 100%;
}

.pushLeft {
  float: left;
}

.pushRight {
  float: right;  
}

.authContainer {
  width: 90%;
  margin-left: 1%;
  background: #2D658629;
  padding: 0.2rem 0;
  border-radius: 0.9rem;
  border: 1px #2D658629 solid;
}

.authContainer li {
  color: #2D658664;
  font-family: $primary;
  display: inline;
  margin: 0 0.3rem;
}

.authContainer a {
  text-decoration: none;
  color: #2D6686;
}

.authContainer a:hover {
  opacity: 0.7;
}

.right-header-panel {
  float: right;
}

.right-header-panel button {
  margin-top: 1.25rem;
}

.button {
  margin: 0 0 0 1.2rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

.botton-size-1 {
  width: 110px;
  font-size: 0.8rem;
  padding: 0.4rem;
  border: 1px #2D6686 solid;
  color: #2D6686;

}

.active-botton {
  color: #FFFFFF;
  background: #2D6686;
}

.button:hover {
  background: #2D65862C;
  color: #2D6686;
}

.breadcrumbs {
  width: 94%;
  margin-left: 3%;
  font-size: 1rem;
  color: #2D6686;
  padding: 0.5% 0;
  font-family: $primary-font-family;
}

.breadcrumbs li a {
  text-decoration: none;
  color: #2D6686;
}

.breadcrumbs li img {
  width: 2.5rem;
  margin-bottom: -0.2rem;
}

.breadcrumbs li {
  display: inline;

}

.searchPanel {
  background: $primary-light-1;
  max-width: 94%;
  margin-left: 3%;
  padding-bottom: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
  border: 0.05rem $primary-light-1 solid;
}

.searchPanel form {
  width: 70%;
  height: 3.5rem;
  margin-left: 15%;
  border-radius: 1rem;
  background: $primary;
  box-shadow: $box-shadow-grey;
  display: flex;
  opacity: 1;
}

.searchPanel form input {
  width: 100%;
  height: 2rem;
  background: none;
  border: 0;
  border-bottom: 0.1rem $white solid;
  font-size: 1rem;
  color: $white;
  outline: none;
}

.searchPanel form button {
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: $white;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.searchPanel form button:hover {
  opacity: 0.8;
}

.searchPanel form button:active {
  color: $secondary;
}

.filterPanel {
  width: 90%;
  margin-left: 5%;
  margin-top: 1rem;
  margin-bottom: 1rem;

}

.filerHeader {
  font-size: 1rem;
  font-family: $primary-font-family;
  color: $primary;
  margin-bottom: 0.5rem;
}

.filterLinks {
  color: $secondary;
  
}

.filterLinks a {
  text-decoration: none;
  color: $primary;
  margin: 0 0.5rem;
  font-size: 0.8rem;
  font-family: $primary-font-family;
  margin-top: -2rem;
}

.filterLinks a:hover {
  color: $secondary;
}

.articlesContainer {
  max-width: 100%;
  padding-bottom: 5rem;
  padding-left: 2.5%;
  display: flex;
  flex-wrap: wrap;
}

.articleCard {
  max-width: 23.3%;
  min-width: 23.3%;
  margin: 0.5% 0.5%;
  border: 0.06rem #2D658661 solid;
  border-radius: 1rem;
  font-family: $primary-font-family;
}

.articleTitle {
  font-size: 1.2rem;
  text-align: center;
  color: $primary;
  margin: 0.5rem;
  overflow: hidden;
  height: 1.5rem;
}

.articleImg {
  width: 100%;
  height: 10rem;
  background: #EEE;
}

.articleAuthor {
  width: 100%;
  height: 2rem;
  margin: 0.2rem 0;
  padding: 0 3%;
  text-align: left;
  color: $primary;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.articleAuthor p {
  margin-left: 0.5rem;
}

.articleAuthor a {
  margin-top: 5rem;
  text-decoration: none;
  color: $primary;
}

.articleAuthor a:hover {
  color: $secondary;
}

.articleAuthor a:active {
  color: $primary;
}

.articleAuthor img {
  width: 2rem;
  height: 2rem;
  border-radius: 50rem;
}

.avartarSmall {
  border: 1px $primary solid;
}

.articleBody {
  width: 100%;
  height: 5.7rem;
  margin: 0.2rem 0;
  padding: 0 3%;
  overflow: hidden;
  font-size: 0.8rem;
  text-align: left;
}

.bodyLinks-row-1 {
  flex-wrap: wrap;
  height: 2rem;
  width: 94%;
  margin: 0.5rem 0;
  margin-left: 3%;
  border-bottom: 0.05rem $primary-light-3 solid;
  text-align: center;
}

.bodyLinks-row-2 {
  flex-wrap: wrap;
  height: 1.5rem;
  width: 94%;
  margin-left: 3%;
  text-align: center;
}

.bodyButton {
  width: 5rem;
  padding: 0.2rem;
  border-radius: 50rem;
  background: $primary;
  cursor: pointer;
}

.bodyButton:hover {
  opacity: 0.8;
}

.bodyButton a {
  text-decoration: none;
  color: $white;
}

.bodyActiveText {
  font-size: 0.8rem;
}

.bodyActiveText a {
  text-decoration: none;
}

.bodyLitText {
  font-size: 0.8rem;
  color: $primary;
}

.otherLinks {
  width: 94%;
  height: 5.5rem;
  margin-left: 3%;
  background: $primary-light-1;
}

#dateCreated {
  width: 10rem;
  overflow: hidden;
  word-wrap: none;
  background: #FFF;
  text-align: left;
}

.footer {
  opacity: 0.9;
  font-family: $primary-font-family;
  font-size: 1rem;
}
