@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
@import "sass-rem";

$primary-font-family: "Open Sans", sans-serif;
$secondary-font-family: "Lobster", sans-serif;

$primary: #2D6686;
$primary-light-3: #2D658656;
$primary-light-2: #2D658623;
$primary-light-1: #2D658612;
$primary-ultra-light: #D9E3F0;
$secondary: #E91E63;
$secondary-light-3: #E91E6277;
$white: #FFFFFF;
$shadow: #D3D6DB;
$black: #000000;
$grey: #555555;
$Yellow: #FFE600;
$orange: #FFB300;
$green: #01731E;
$purple: #7D0AE1;
$box-shadow-grey: rem(0px) rem(2px) rem(4px) $grey;
$box-shadow-white: rem(0px) rem(2px) rem(4px) $white;
$primary-text-shadow-black: rem(0px) rem(2px) rem(4px) $black;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
